<!DOCTYPE html>
<!-- reference https://thinkster.io/mean-stack-tutorial -->
<html>
  <head>
    <title>Poll App</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-1.0.3.min.js"></script>
  </head>

  <body ng-app="PollApp">

  	<nav class="navbar navbar-custom" role="navigation" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
				<li ng-show="isLoggedIn()"class="active"><a href="/#/home">Home</a></li>
			 	<li ng-show="isLoggedIn()"class="active"><a href="/#/create">Create</a></li>
			 	<li ng-show="isLoggedIn()"><a href="/#/login" ng-click="logOut()">Log Out</a></li>
    		 	<li ng-hide="isLoggedIn()" class="active"><a href="/#/login">SignIn</a></li>
			 	<li ng-hide="isLoggedIn()" class="active"><a href="/#/register">Register</a></li>
			 	<li style="margin:0 0 0 900px" ng-show="isLoggedIn()" class="active"><a href="/#/home">		Hi, {{currentUser()}}</a></li>
			</ul>
		
	</nav>

	<div class="container">
		<div class="row">
			 <div class="col-md-6 col-md-offset-3">
					<ui-view></ui-view>
			</div>
		</div>
	</div>


	<script type="text/ng-template" id="/home.html">

		<div ng-hide="isLoggedIn()">
        	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can start polling.</h3>
        </div>

		<div ng-init="postFn(post)" ng-repeat="post in posts | orderBy: 'post.LastDateUpdated':true" >

			<form id="pollForm" ng-submit="submitPoll(post)" ng-show="isLoggedIn()">
			  <strong class="usernameclass" style="color">Posted By : {{post.user}} </strong> 
			  <span style="margin:0 0 0 20px">@{{post.user}}</span> &#0149;
			  <span>{{post.LastDateUpdated | date : format : shortDate}}</span> 
	  		  
	  		  <div class="quest">
	          	{{post.question}}
	          </div>
	           
	          <br>
	          
	          <div class="post-container">
	            <br>
				  <span ng-class="{'vis-hidden': post.ch1}" ng-style="{'background-image':'url('+ post.ImageURL1 +')'}" ng-click="chgImg(post, 1)" class="Pollchoice--radio"></span>
	          	  <span id="Pollchoice--text" ng-class="{'text_type_bold': post.tr1}">{{post.choice1}}
		          </span>
		          <span ng-hide="post.pb1" class="progress">
	          	  	<span class="progress-bar" style="width: {{post.totalVotesChoice1}};">{{post.totalVotesChoice1}}
	          	  	</span>
	          	  </span><br><br>
		          
		          <span ng-class="{'vis-hidden': post.ch2}" ng-style="{'background-image':'url('+ post.ImageURL2 +')'}" ng-click="chgImg(post, 2)" class="Pollchoice--radio"></span>
		          <span id="Pollchoice--text" ng-class="{'text_type_bold': post.tr2}">{{post.choice2}}
	          	  </span>
	          	  <span ng-hide="post.pb2" class="progress">
	          	  	<span class="progress-bar" style="width: {{post.totalVotesChoice2}};">{{post.totalVotesChoice2}}
	          	  	</span>
	          	  </span><br><br>

		          <span ng-class="{'vis-hidden': post.ch3}" ng-style="{'background-image':'url('+ post.ImageURL3 +')'}" ng-click="chgImg(post, 3)" ng-show="post.choice3" class="Pollchoice--radio"></span>
		          <span id="Pollchoice--text" ng-class="{'text_type_bold': post.tr3}">{{post.choice3}}
	          	  </span>
	          	  <span ng-hide="post.pb3" class="progress">
	          	  	<span class="progress-bar" style="width: {{post.totalVotesChoice3}};">{{post.totalVotesChoice3}}
	          	  	</span>
	          	  </span><br><br>

		          <span ng-class="{'vis-hidden': post.ch4}" ng-style="{'background-image':'url('+ post.ImageURL4 +')'}" ng-click="chgImg(post, 4)" ng-show="post.choice4" class="Pollchoice--radio"></span>
		          <span id="Pollchoice--text" ng-class="{'text_type_bold': post.tr4}">{{post.choice4}}
	          	  </span>
	          	  <span ng-hide="post.pb4" class="progress">
	          	  	<span class="progress-bar" style="width: {{post.totalVotesChoice4}};">{{post.totalVotesChoice4}}
	          	  	</span>
	          	  </span><br><br>
		          
		          <hr style="border-color: #106cc8;border-width: 2px;"/>
		          
		          <div>
			         <button ng-class="{'vis-hidden':post.showTheButton}" id="btn" type="submit" class="btn btn-default">Vote</button> 
				     <span ng-init="calTotal(post, post._id)" style="margin:0 0 0 10px"> {{post.totalVotes}} votes</span> 
				        &#0149; 
				      <span ng-init="timediff(post.LastDateUpdated, post)" ng-hide="post.Hours"> {{post.timeRem}}</span>
				      <span ng-bind="post.Time"></<span>
				  </div>

			    <br>
			  </div>
			  
	          <br><br><br>
	        </form>
	    </div>

    </script>


	<script type="text/ng-template" id="/create.html">

	    <div ng-hide="isLoggedIn()">
        	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can start polling.</h3>
        </div>
	
		<div ng-show="mess" class="alert alert-info fade in">
	      <span>{{message}}</span>
	    </div>


		<form name="frm" id="frm"  ng-show="isLoggedIn()" ng-submit="addPoll()">
	  		
	  		<div class="header" style="margin: 0 0 0 100px;">
	  				<h3>Create a poll</h3>
			</div>

	  		<br>

			<div class="form-group">
				 <textarea id="txtArea" class="form-group" rows="3"
				 	class="clearfix" ng-model="question" placeholder="Ask a question..." 
				 	maxlength="140" required>
				 </textarea>
			</div>

			<div class="form-group">
			   <input type="radio" disabled="" style="margin:0 0 0 50px" />
	       	   <input id="rectTextBoxes" type="text" class="form-group" placeholder="Choice 1"
	       			class="clearfix" ng-model="choice1" maxlength="20" required />
	       	   <span style="margin:0 5px 0 0;color:#fff">{{20 - choice1.length}}</span>
		    </div>

	    	<div class="form-group">
		       <input type="radio" disabled="" style="margin:0 0 0 50px"/>
		       <input id="rectTextBoxes" type="text" class="form-group" placeholder="Choice 2"
		       		class="clearfix" ng-model="choice2" maxlength="20" required />
		       <span style="margin:0 5px 0 0;color:#fff">{{20 - choice2.length}}</span>
		    </div>

		    <div class="form-group" ng-show="count==1 || count ==2">
		       <input type="radio" disabled="" style="margin:0 0 0 50px"/>
		       <input id="rectTextBoxes" type="text" class="form-group" placeholder="Choice 3 optional"
		       		class="clearfix" ng-model="choice3" maxlength="20" />
		       <span style="margin:0 5px 0 0;color:#fff">{{20 - choice3.length}}</span>
		       <button ng-click="count=count-1" type="button">
					<span>x</span>
				</button>
		    </div>

		    <div class="form-group" ng-show="count==2">
		       <input type="radio" disabled="" style="margin:0 0 0 50px"/>
		       <input id="rectTextBoxes" type="text" class="form-group" placeholder="Choice 4 optional"
		       		class="clearfix" ng-model="choice4" maxlength="20"/>
		       	<span style="margin:0 5px 0 0;color:#fff">{{20 - choice4.length}}</span>
		        <button ng-click="count=count-1" type="button">
					<span>x</span>
				</button>
		    </div>

		    <button ng-hide="count==2" style="margin:0 0 0 90px;border: 0 none;background-color:#fff;color:#106cc8" ng-init="count=0" ng-click="count=count+1" type="button">
				<span>+</span>
				<span>Add a choice</span>
			</button>

			<br><br>
			<div style="margin:0 0 0 300px">
				<span style="margin:0 5px 0 0;color:#fff">{{140 - question.length}}</span>
				<button ng-click="submitted=true" type="submit" class="submit btn primary-btn"> Submit </button>
			</div>

		</form>
		
		<br>
		
	</script>

	
	<script type="text/ng-template" id="/login.html">
   
	    <div ng-show="error" class="alert alert-danger row">
	      <span>{{error.message}}</span>
	    </div>

	    <form name="frm" id="frm" ng-submit="logIn()" style="margin-top:30px;">
		    <div class="page-header">
		      <h1>Poll App</h1>
		    </div>

	      <br>

	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
	      </div>

	      <div class="form-group">
	        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
	      </div>

	      <button type="submit" class="submit btn primary-btn">Log In</button>
	    </form>
	    
  	</script>
	

 	<script type="text/ng-template" id="/register.html">
    
	    <div ng-show="error" class="alert alert-danger row">
	      <span>{{error.message}}</span>
	    </div>

	    <form name="frm" id="frm" ng-submit="register()" style="margin-top:30px;">
	       <div class="page-header">
		      <h1>Poll App</h1>
		   </div>
		   <br>

	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
	      </div>

	      <div class="form-group">
	        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
	      </div>

	      <button type="submit" class="submit btn primary-btn">Register</button>
	    </form>

    </script>	


  </body>

</html>
